.CheckoutItem {
    display: flex;
    align-items: center;
}
.ItemText {
    font-weight: bold;
    text-align: left;
}
.TextSpace {
    flex-grow: 1;
    min-width: 20px;
}
.ItemsCountText {
    white-space: nowrap;
}
.PriceText {
    font-weight: bold;
    padding: 0px 5px;
    white-space: nowrap;
}