.NavigationItem {
    min-width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.NavigationItem:hover {
    background-color: #e08569;
}
.NavigationItemActive {
    background-color: #ed9479;
}